@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,300;0,400;0,500;0,600;1,700&display=swap');


:root{
    --background: #faf8ef;
    --light-brown: #776e65;
    --container-brown: #bbada0;
    --dark-brown: #8f7a66;
    --blank-tile: #eee4da33;
}
*{
    font-family: 'Exo', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}


#content{
    background-color: var(--background);

    height: 100vh;
    width: 100vw;

    display: flex;
    justify-content: center;
}

#container{
    max-width:500px;
    width:100vw;
    height:100%;
}

#heading-container{
    margin-top:64px;
    width: 100%;
    display:flex;
    flex-direction: row;
}
#twenty48-container{
    margin-right:auto;
    font-weight:700;
    font-size:64px;
    color: var(--light-brown);
}

.score-container{
    background-color: var(--container-brown);
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding:8px;
    margin: 0 8px;
    border-radius:4px;
}
.score-container:last-child{
    margin-right:0px;
}

.score-text{
    color:#ffffffbb;
    font-size:20px;
    font-weight:500;
    text-align: center;
}
.score-number{
    text-align: center;
    color:#fff;
    font-size:30px;
    font-weight:600;
}

#new-game-row{
    display:flex;
    justify-content: right;
    margin-top:32px;
}

#new-game-button{
    background-color: var(--dark-brown);
    color:#fff;
    font-size:24px;
    border-radius: 4px;
    padding:4px 8px;
    font-weight:500;

    user-select: none;
    cursor: pointer;
}

#game-container{
    margin-top: 64px;
    background-color: var(--container-brown);
    max-height:500px;
    height:100vw;
    border-radius: 8px;
    
    display:flex;
    align-items: center;
    justify-content: center;
}
#tiles-container{
    width:90%;
    height: 90%;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    column-gap: min(16px, 2vw);
    row-gap: min(16px, 2vw);
}

.tile{
    background-color: var(--blank-tile);
    border-radius:2px;

    display:flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;

    color:#776e65;
    font-weight:700;
}

._2-tile{
    background-color: #eee4da;
    color:var(--light-brown);
}